@import url(https://fonts.googleapis.com/css?family=Montserrat:300,600,700,700i);/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5; }
  body.transition {
    overflow: hidden; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 14px; } }
  @media screen and (max-width: 580px) {
    body {
      font-size: 12px; } }

p {
  font-size: 1em;
  font-weight: 300;
  color: black;
  margin: 20px 0; }

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; }
  .main-content.notVisible {
    z-index: -2; }

.page-index {
  transform: none; }

.page-journal {
  background: white;
  height: 3000px; }
  .page-journal.fadeOut h1, .page-journal.fadeOut li {
    transition: 0.5s;
    opacity: 0 !important; }
  .page-journal.fadeOut li.clicked {
    opacity: 1 !important; }
    .page-journal.fadeOut li.clicked .text-container, .page-journal.fadeOut li.clicked .place {
      opacity: 0; }
    .page-journal.fadeOut li.clicked img {
      max-width: inherit; }

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 580px) {
    .container {
      width: 85%; } }

.title-page, .title-menu {
  font-size: 6.25em;
  font-weight: 700;
  color: #ADB5CF; }
  .title-page.light, .title-menu.light {
    font-weight: 100; }
  @media screen and (max-width: 1250px) {
    .title-page, .title-menu {
      font-size: 5em; } }
  @media screen and (max-width: 580px) {
    .title-page, .title-menu {
      text-align: center; } }

.title-menu {
  color: #B87E62; }

.title-journal {
  font-size: 3.125em;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  color: black; }
  @media screen and (max-width: 1250px) {
    .title-journal {
      font-size: 2.5em; } }
  @media screen and (max-width: 580px) {
    .title-journal {
      font-size: 2.1875em; } }

.title-article {
  color: black;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 3.75em; }

.menu-slider {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background: aqua;
  overflow: hidden;
  transition: 0.5s; }
  .menu-slider .dots {
    display: flex;
    left: 50%;
    transform: translateX(-50%); }
    .menu-slider .dots li {
      cursor: pointer;
      display: block;
      border-radius: 100px;
      border: solid 2px #B87E62;
      background: transparent;
      transition: 0.3s ease-out;
      width: 10px;
      height: 10px;
      margin: 0 70px; }
      .menu-slider .dots li.active {
        transition: 0.3s ease-in;
        background: #B87E62; }
  .menu-slider .next, .menu-slider .prev, .menu-slider .dots {
    position: absolute;
    bottom: 100px; }
  .menu-slider .prev, .menu-slider .next {
    width: 20px;
    cursor: pointer; }
  .menu-slider .prev {
    left: 5%;
    transform: rotate(180deg); }
  .menu-slider .next {
    right: 5%; }
  .menu-slider .js_frame {
    width: 880px;
    height: 600px;
    position: relative;
    font-size: 0;
    line-height: 0;
    overflow: visible;
    margin: 0 auto;
    white-space: nowrap; }
  .menu-slider .js_slides {
    display: inline-block; }
  .menu-slider .js_slide {
    position: relative;
    display: inline-block;
    width: 880px;
    text-align: center;
    font-size: 16px;
    height: 600px;
    color: white;
    background: skyblue;
    margin: 0 50px;
    transition: 0.5s; }
    .menu-slider .js_slide a {
      display: block;
      width: 100%;
      height: 100%;
      color: red;
      text-decoration: none;
      position: relative; }
      .menu-slider .js_slide a h2 {
        line-height: initial;
        width: 100%;
        position: absolute;
        top: -9%;
        text-align: center; }
    .menu-slider .js_slide:hover {
      transform: translateX(20px);
      transition: 0.5s; }
    .menu-slider .js_slide.active ~ .js_slide:hover {
      transform: translateX(-20px); }
    .menu-slider .js_slide.active:hover {
      transform: none; }

.menu-slider.noTransitionChild .js_slide {
  transition: none; }
  .menu-slider.noTransitionChild .js_slide:hover {
    transition: none; }

section.journal ul {
  display: flex;
  flex-direction: column;
  align-items: center; }

section.journal li {
  display: flex;
  align-items: center;
  max-width: 90%;
  margin: 4.6875em 0; }
  section.journal li .image-container {
    max-width: 40%;
    min-width: 40%;
    width: 100%;
    position: relative; }
    section.journal li .image-container .place {
      position: absolute;
      top: 75px;
      left: -100px;
      transform: rotate(-90deg);
      letter-spacing: 5px;
      text-transform: uppercase; }
    section.journal li .image-container img {
      width: 100%; }
  section.journal li .text-container {
    max-width: 60%;
    box-sizing: border-box;
    padding-left: 5%; }
    section.journal li .text-container .date {
      font-weight: 600;
      color: #ADB5CF;
      font-size: 1.25em; }
    section.journal li .text-container a {
      display: inline-block;
      text-decoration: underline;
      color: black;
      font-weight: 700;
      font-size: 1em; }
  section.journal li:nth-child(even) .text-container {
    order: 0;
    text-align: right;
    padding-left: 0;
    padding-right: 5%; }
  section.journal li:nth-child(even) .image-container {
    order: 1; }
    section.journal li:nth-child(even) .image-container .place {
      left: auto;
      right: -100px;
      transform: rotate(90deg); }

@media screen and (max-width: 1250px) {
  section.journal li .image-container .place {
    top: 65px;
    left: -95px;
    font-size: 0.875em; }
  section.journal li:nth-child(even) .image-container .place {
    right: -90px; } }

@media screen and (max-width: 768px) {
  section.journal li .image-container .place {
    top: 60px; }
  section.journal li:nth-child(even) .image-container .place {
    right: -85px; } }

@media screen and (max-width: 580px) {
  section.journal li {
    flex-direction: column;
    margin: 2.5em 0; }
    section.journal li .image-container {
      max-width: 100%;
      margin-bottom: 1.25em; }
      section.journal li .image-container .place {
        top: 55px;
        left: -85px; }
    section.journal li .text-container {
      padding-left: 0;
      max-width: 100%; }
    section.journal li:nth-child(even) .image-container {
      order: 0; }
      section.journal li:nth-child(even) .image-container .place {
        right: -75px; }
    section.journal li:nth-child(even) .text-container {
      text-align: left; } }

.page-article .left, .page-article .right {
  box-sizing: border-box; }

.page-article .left {
  padding-right: 30px; }

.page-article .right {
  padding-left: 30px; }

.page-article .wrapper-layout section:last-child {
  margin-bottom: 0; }

.page-article .technical-informations {
  margin-bottom: 50px; }
  .page-article .technical-informations .container {
    display: block; }
  .page-article .technical-informations p {
    font-weight: 100;
    color: #4A4A4A; }

.page-article .container {
  display: flex; }

@media screen and (max-width: 768px) {
  .page-article .left {
    padding-right: 5px; }
  .page-article .right {
    padding-left: 5px; } }

.page-article section.header .date {
  font-size: 1.25em;
  font-weight: 300;
  color: #656565;
  text-transform: uppercase; }

.page-article section.header .bg {
  height: 400px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1; }

.page-article section.header .header-top {
  padding-top: 250px;
  padding-bottom: 50px; }
  .page-article section.header .header-top .container {
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    text-align: right; }
  .page-article section.header .header-top .text-container {
    width: 50%; }

.page-article section.header .header-bottom .container {
  margin-top: 100px; }

.page-article section.header .header-bottom .left {
  width: 50%; }
  .page-article section.header .header-bottom .left .image-container {
    position: relative;
    height: 100%; }
    .page-article section.header .header-bottom .left .image-container img {
      position: absolute;
      bottom: 0;
      left: 0;
      max-width: 100%; }

.page-article section.header .header-bottom .text-container {
  max-width: 41.65%;
  margin-left: 8.3333%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }

@media screen and (max-width: 768px) {
  .page-article section.header .header-top {
    padding-top: 100px;
    padding-bottom: 0px; }
    .page-article section.header .header-top .text-container {
      width: 100%; }
  .page-article section.header .header-bottom .container {
    margin-top: 50px;
    flex-direction: column; }
  .page-article section.header .header-bottom .left {
    width: 100%;
    padding: 0; }
    .page-article section.header .header-bottom .left .image-container {
      text-align: center; }
      .page-article section.header .header-bottom .left .image-container img {
        position: static;
        width: 100%; }
  .page-article section.header .header-bottom .text-container {
    max-width: 100%;
    margin: 0;
    padding: 0; } }

.page-article section.double-images, .page-article section.image-paragraph-color,
section.single-image-paragraph, section.one-big-image-double-small-image-paragraph {
  margin: 100px 0; }
  @media screen and (max-width: 768px) {
    .page-article section.double-images, .page-article section.image-paragraph-color,
    section.single-image-paragraph, section.one-big-image-double-small-image-paragraph {
      margin: 50px 0; } }

.page-article section.double-images .image-container {
  max-width: 50%; }
  .page-article section.double-images .image-container img {
    max-width: 100%; }

.page-article section.image-paragraph-color {
  position: relative; }
  .page-article section.image-paragraph-color .bg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 65%;
    z-index: -1; }
  .page-article section.image-paragraph-color .image-container {
    max-width: 50%; }
    .page-article section.image-paragraph-color .image-container img {
      max-width: 100%; }
  .page-article section.image-paragraph-color .text-container {
    max-width: 41.65%;
    margin-left: 8.3333%; }
  .page-article section.image-paragraph-color .container {
    width: 85%;
    max-width: 1600px;
    align-items: center; }
    .page-article section.image-paragraph-color .container.image-right .image-container {
      order: 1; }
    .page-article section.image-paragraph-color .container.image-right .text-container {
      order: 0;
      margin-left: 0;
      margin-right: 8.3333%; }
  @media screen and (max-width: 768px) {
    .page-article section.image-paragraph-color .bg {
      display: none; }
    .page-article section.image-paragraph-color .container {
      width: 80%;
      flex-direction: column; }
      .page-article section.image-paragraph-color .container.image-right .image-container {
        order: 0; }
    .page-article section.image-paragraph-color .image-container, .page-article section.image-paragraph-color .text-container {
      max-width: 100%;
      margin: 0; } }

.page-article section.single-image-paragraph .container {
  align-items: center;
  flex-direction: column; }

.page-article section.single-image-paragraph .image-container {
  text-align: center;
  max-width: 50%; }
  .page-article section.single-image-paragraph .image-container img {
    max-width: 100%; }

@media screen and (max-width: 768px) {
  .page-article section.single-image-paragraph .image-container {
    max-width: 100%; } }

.page-article section.one-big-image-double-small-image-paragraph img {
  max-width: 100%; }

.page-article section.one-big-image-double-small-image-paragraph .image-container-big {
  max-width: 41.65%;
  margin-right: 8.3333%; }

.page-article section.one-big-image-double-small-image-paragraph .right {
  max-width: 50%;
  display: flex;
  flex-direction: column; }
  .page-article section.one-big-image-double-small-image-paragraph .right .image-container-small {
    display: flex;
    align-items: center; }
    .page-article section.one-big-image-double-small-image-paragraph .right .image-container-small img {
      box-sizing: border-box;
      padding: 10px;
      max-width: 50%; }

@media screen and (max-width: 768px) {
  .page-article section.one-big-image-double-small-image-paragraph .container {
    flex-direction: column; }
  .page-article section.one-big-image-double-small-image-paragraph .image-container-big {
    max-width: 100%;
    margin-right: 0; }
  .page-article section.one-big-image-double-small-image-paragraph .right {
    max-width: 100%; }
    .page-article section.one-big-image-double-small-image-paragraph .right .image-container-small img {
      padding: 2px; } }

.page-article section.discover {
  background: white; }

section.para-image .container {
  display: flex;
  align-items: center; }

section.para-image .text-container {
  max-width: 41.67%;
  margin-right: 8.3333%; }

section.para-image .image-container {
  max-width: 50%; }
  section.para-image .image-container img {
    max-width: 100%; }

/*# sourceMappingURL=style.css.map*/