<section class="image-paragraph-color">
    <div class="bg header-color"></div>
        {% if content.image_position == "left" %}
            <div class="container">
        {% else %}
            <div class="container image-right">
        {% endif %}
        
        <div class="image-container">        
            <img src="{{content.image.url}}" alt="{{content.image.alt}}">
        </div>
        <div class="text-container">
            {{content.paragraph|wpautop}}
        </div>
    </div>
</section>