<section class="one-big-image-double-small-image-paragraph">
        {% if content.image_position == "left" %}
            <div class="container">
        {% else %}
            <div class="container image-right">
        {% endif %}
        <div class="image-container-big">
            <img src="{{content.big_image.url}}" alt="{{content.big_image.alt}}">
        </div>
        <div class="right">
            <div class="image-container-small">
                <img src="{{content.small_image_left.url}}" alt="{{content.small_image_left.alt}}">
                <img src="{{content.small_image_right.url}}" alt="{{content.small_image_right.alt}}">
            </div>
            {{content.paragraph|wpautop}}
        </div>
    </div>
</section>