<section class="single-image-paragraph">
    <div class="container">
        <div class="image-container">
            <img src="{{content.image.url}}" alt="{{content.image.alt}}">
        </div>
        {{content.paragraph|wpautop}}
    </div>
</section>