{% extends site.tplReference %}

{% block main %}

    <div class="page-journal main-content">

        <section class="journal">
            <div class="container">
                <h1 class="title-page">Journal</h1>

                <ul>
                    <li class="article">
                        <div class="image-container">
                            <span class="place">Courchevel</span>
                            <a data-type="page-transition-article" href="/anArticle.html">
                                <img src="./images/2b9ec959258381.5a1bf3a47253d.jpg" alt="">
                            </a>
                        </div>

                        <div class="text-container">
                            <h2 class="title-journal">Forteresse Blanche</h2>
                            <span class="date">03/18</span>

                            <p>Ce murmure délicat venant taire la forteresse blanche, je peux sentir ton souffle entendre ma mort.</p>
                            <p>Riche de tes silences par un sourire discret, il ne nous reste que l’ennui d’un présent bruyant.</p>

                            <a data-type="page-transition-article" href="/anArticle.html">Lire plus</a>
                        </div>
                    </li>
                    <li class="article">
                        <div class="image-container">
                            <span class="place">St-Tropez</span>
                            <a data-type="page-transition-article" href="/anArticle.html">
                                <img src="./images/1b5c0761267211.5a68c8d93bb4a.jpg" alt="">
                            </a>
                        </div>

                        <div class="text-container">
                            <h2 class="title-journal">Au bord de l'eau</h2>
                            <span class="date">04/18</span>

                            <p>Simple et élégante séance photos de grossesse sur la plage à St. Tropez</p>

                            <a href="#">Lire plus</a>
                        </div>
                    </li>
                    <li class="article">
                        <div class="image-container">
                            <span class="place">Courchevel</span>
                            <a data-type="page-transition-article" href="/anArticle.html">
                                <img src="./images/2b9ec959258381.5a1bf3a47253d.jpg" alt="">
                            </a>
                        </div>

                        <div class="text-container">
                            <h2 class="title-journal">Forteresse Blanche</h2>
                            <span class="date">03/18</span>

                            <p>Ce murmure délicat venant taire la forteresse blanche, je peux sentir ton souffle entendre ma mort.</p>
                            <p>Riche de tes silences par un sourire discret, il ne nous reste que l’ennui d’un présent bruyant.</p>

                            <a href="#">Lire plus</a>
                        </div>
                    </li>
                </ul>

            </div>
        </section>
    </div>

{% endblock %}