{% spaceless %} {% block html_head_container %}
<!doctype html>
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" {{ site.language_attributes }}>
<!--<![endif]-->

<head>
	<meta charset="{{ site.charset }}" />
	<title>
		{% if wp_title %} {{ wp_title }} - {{ site.name }} {% else %} {{ site.name }} {% endif %}
	</title>
	<meta name="description" content="{{ site.description }}">
	<link rel="stylesheet" href="{{ site.theme.link }}{% block mainCssBlock %}{% endblock %}?v={{ " now "|date("ymdhi ") }}" type="text/css" media="screen"
	/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="author" href="{{ site.theme.link }}/humans.txt" />
	<link rel="pingback" href="{{ site.pingback_url }}" /> 
	{{function('wp_head')}} 
	{% block htmlHead %} {% endblock %}
</head>
{% endblock %}

<body class="{{body_class}}{% block extraBodyClass %}{% endblock %}">
	{{function('edit_post_link', '<i class="fa fa-edit"></i>', '<span class="edit-link">', '</span>')}}
	{% block htmlBody %}
		<div class="wrapper">
			{% block header %}
				<header>
					<div>{{function("the_custom_logo")}}</div>
					<nav id="nav-main" role="navigation">
						{% include "core/menu.twig" with { 
							'menu': header_menu.get_items, 
							'class' : { 
								"parent" : [ "menuList" ], 
								"children" : [
									"" ] 
								} 
							} 
						%}
					</nav>
				</header>
			{% endblock %}
			<main>
				{% block main %} 
					{{ pll__("Sorry, there's no content here.") }}
				{% endblock %}
			</main>
			{% block footer %}
				<footer id="footer">
					<div>
						{{function("the_custom_logo")}}
					</div>
					{% if footer_menu %}
						<nav id="footer-nav"> 
							{% 
								include "core/menu.twig" with { 
									'menu': footer_menu.get_items, 
									'class' : { 
										"parent" : [ "footer-nav" ], 
										"children" : [ ] 
									} 
								} 
							%} 
						</nav>
					{% endif %}
					<p class="copyright">
						©&nbsp;Copyright&nbsp;{{"now"|date('Y')}}&nbsp;{{ site.name }}
					</p>
				</footer>
			{% endblock %}
		</div>
		
		{{ function('wp_footer') }}
		{% block bodyFooter %} {% endblock %}
		<script src="{{ site.theme.link }}{% block mainJsBlock %}{% endblock %}?v={{ " now "|date("ymdhi ") }}" type="text/javascript" defer
			async></script> 
	{% endblock %}
</body>
</html>
{% endspaceless %}