@import url("https://fonts.googleapis.com/css?family=Montserrat:300,600,700,700i");

$blue-grey: #ADB5CF;
$brown: #B87E62;
$brown-light: #EBD5C2;
$blue-grey-light: #F0F1F4;
$grey: #656565;

$browser-context: 16;

$breakpoint-container: 1250px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 580px;

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;

    &.transition {
        overflow: hidden;
    }

    @media screen and (max-width: $breakpoint-tablet) {
        font-size: 14px;
    }

    @media screen and (max-width: $breakpoint-mobile) {
        font-size: 12px;
    }
}

p {
    font-size: em(16);
    font-weight: 300;
    color: black;
    margin: 20px 0;
}

.main-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    &.notVisible {
        z-index: -2;
    }

}

.page-index {
    transform: none;
}


.page-journal {
    background: white;
    height: 3000px;
    
    &.fadeOut {
        
        h1, li {
            transition: 0.5s;
            opacity: 0 !important;
        }
        
        li.clicked {
            opacity: 1 !important;

            .text-container, .place {
                opacity: 0;
            }

            img {
                max-width: inherit;
            }
        }
    }
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;

    // @media screen and (max-width: $breakpoint-container) {
    //     width: 80%;
    // }

    @media screen and (max-width: $breakpoint-mobile) {
        width: 85%;
    }
}

.title-page, .title-menu {
    font-size: em(100);
    font-weight: 700;
    color: $blue-grey;

    &.light {
        font-weight: 100;
    }

    @media screen and (max-width: $breakpoint-container) {
        font-size: em(80);
    }

    @media screen and (max-width: $breakpoint-mobile) {
        text-align: center;
    }
}

.title-menu {
    color: $brown;
}

.title-journal {
    font-size: em(50);
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    color: black;

    @media screen and (max-width: $breakpoint-container) {
        font-size: em(40);
    }

    @media screen and (max-width: $breakpoint-mobile) {
        font-size: em(35);
    }
}

.title-article {
    color: black;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    font-size: em(60);
}
