section.journal {
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    li {
        display: flex;
        align-items: center;
        max-width: 90%;
        margin: em(75) 0;

        .image-container {
            max-width: 40%;
            min-width: 40%;
            width: 100%;
            position: relative;

            .place {
                position: absolute;
                top: 75px;
                left: -100px;
                transform: rotate(-90deg);
                letter-spacing: 5px;
                text-transform: uppercase;
            }

            img {
                width: 100%;
            }
        }

        .text-container {
            max-width: 60%;
            box-sizing: border-box;
            padding-left: 5%;

            .date {
                font-weight: 600;
                color: $blue-grey;
                font-size: em(20);
            }

            a {
                display: inline-block;
                text-decoration: underline;
                color: black;
                font-weight: 700;
                font-size: em(16);
            }
        }

        &:nth-child(even) {
            .text-container {
                order: 0;
                text-align: right;
                padding-left: 0;
                padding-right: 5%;
            }

            .image-container {
                order: 1;

                .place {
                    left: auto;
                    right: -100px;
                    transform: rotate(90deg);
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-container) {
        li {
            .image-container {
                .place {
                    top: 65px;
                    left: -95px;
                    font-size: em(14);
                }
            }

            &:nth-child(even) {
                .image-container .place {
                    right: -90px;
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-tablet) {
        li {
            .image-container {
                .place {
                    top: 60px;
                }
            }

            &:nth-child(even) {
                .image-container .place {
                    right: -85px;
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-mobile) {
        li {
            flex-direction: column;
            margin: em(40) 0;

            .image-container {
                max-width: 100%;
                margin-bottom: em(20);

                .place {
                    top: 55px;
                    left: -85px;
                }
            }

            .text-container {
                padding-left: 0;
                max-width: 100%;
            }

            &:nth-child(even) {
                .image-container {
                    order: 0;
                    .place {
                        right: -75px;
                    }
                }

                .text-container {
                    text-align: left;
                }
            }
        }
    }
}
