<svg viewbox="0 0 12 8">
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="home-copy" transform="translate(-1846.000000, -919.000000)" fill="#B87E62" fill-rule="nonzero">
            <g id="arrow" transform="translate(61.000000, 919.000000)">
                <polygon id="Path-5-Copy" transform="translate(1790.570312, 3.639160) scale(-1, 1) rotate(-90.000000) translate(-1790.570312, -3.639160) " points="1786.93115 9.20947266 1794.20947 9.20947266 1790.57031 -1.93115234"></polygon>
            </g>
        </g>
    </g>
</svg>